/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form, select, input, button {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: inherit;
    color: inherit;
}